<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title>Nuevo viaje</title>
    </head>
    <body>
        <main>
            <div th:class="container">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/viaje}">Viajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mascota}">Mascotas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/persona}">Persona</a>
                    </li>
                </ul>
            </div>
            <div class="container px-4 py-5">
                <h1 class="pb-2 mb-3 border-bottom">Nuevo viaje</h1>
                <div class="d-flex mt-3 mb-4">
                    <a class="btn btn-primary" th:href="@{'/mascota/newForm'}">Nueva mascota</a>
                </div>
                <form method="post" th:action="@{/viaje/save}" class="mt-2">
                    <div class="mb-3">
                        <label for="puntoRecojo" class="form-label">Punto de recojo</label>
                        <input type="text" class="form-control" name="puntoRecojo" id="puntoRecojo">
                    </div>
                    <div class="mb-3">
                        <label for="cantPersonas" class="form-label">Cantidad de Personas</label>
                        <input type="text" class="form-control" name="cantPersonas" id="cantPersonas">
                    </div>
                    <div class="mb-3">
                        <label for="cantPerros" class="form-label">Cantidad de Perros</label>
                        <input type="text" class="form-control" name="cantPerros" id="cantPerros">
                    </div>

                    <div class="mb-3">
                        <label for="personaIdpersona" class="form-label">Selector de Personas</label>
                        <select class="form-select" name="personaIdpersona" id="personaIdpersona">
                            <option th:each="personas: ${listaPersonas}"
                                    th:text="${personas.nombre}" th:value="${personas.id}">Open this select menu</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="lugaresIdlugares" class="form-label">Selector de lugares</label>
                        <select class="form-select" name="lugaresIdlugares" id="lugaresIdlugares">
                            <option th:each="lugares: ${listaLugares}"
                                    th:text="${lugares.nombreLugar}" th:value="${lugares.id}">Open this select menu</option>
                        </select>
                    </div>

                    <a th:href="@{/viaje}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>