<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-icons/bootstrap-icons.css}"/>
    <title>Lista de Personas</title>
</head>
<body>
<main>
    <div th:class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/viaje}">Viajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mascota}">Mascotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/persona}">Persona</a>
            </li>
        </ul>
    </div>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Lista de Personas Registradas</h1>
        <div class="d-flex mt-3 mb-4">
            <a class="btn btn-primary" th:href="@{'/persona/newForm'}">Nuevo registro</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre Completo</th>
                <th>DNI</th>
                <th>Celular</th>
                <th>Tipo de persona</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="persona, info : ${listaPersonas}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${persona.nombre}"></td>
                <td th:text="${persona.dni}"></td>
                <td th:text="${persona.celular}"></td>
                <td th:text="${persona.tipoPersona}"></td>
                <td><a class="btn btn-primary"
                       th:href="@{'/persona/edit?id=' + ${persona.id}}"><i class="bi bi-pencil-square"></i></a>
                </td>
                <td><a class="btn btn-danger"
                       th:href="@{'/persona/delete?id=' + ${persona.id}}"><i class="bi bi-trash3"></i></a>
                </td>
                <td><a class="btn btn-success"
                       th:href="@{'/persona/otro?id=' + ${persona.id}}"><i class="bi bi-file-plus"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
