<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Travel Can</title>
</head>
<body>
<main>
    <div th:class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/viaje}">Viajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mascota}">Mascotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lugar}">Lugares</a>
            </li>
        </ul>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>